<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Epeli leaderboard</title>
    </head>
    <body>
        
        <ul>
            <li th:each="kayttaja : ${kayttajat}">
                <span th:text="${kayttaja.name}"/>
                <span th:text="${kayttaja.level.taso}"/>
            </li>
        </ul>
        
        <button type="button"><a href="/epeli">Palaa profiilisivulle</a></button>
        
    </body>
</html>
