<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>E-peli</title>
    </head>
    <body>
        
        <h1>
            <span th:text="${kayttaja.name}"></span>
            <span th:text="${level}"></span>
            
        </h1>
        
        <img th:src="${level.image}" width="169" height="169"></img> <br/>
        <button type="button"><a href="/leaderboard">Leaderboard</a></button><br/><br/>
        
        <button type="button"><a th:href="@{/tehtava/{id}(id=${tehtava.id})}">Tee tehtäviä</a></button><br/><br/>
        
        <button type="button"><a href="/logout">Kirjaudu ulos</a></button>
        
        <br/><br/>
        <button type="button"><a href="/palautteet">Palautteet</a></button>
    </body>
</html>

