<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>E-peli</title>
    </head>
    <body>
        <h1 th:text="${kayttaja.name}"></h1>
        
        <a th:text="${ohje}"></a><br/>
               
        <a th:text="${tehtava.kysymys}">Kysymys</a><br/>
        <form th:action="@{/tehtava/{id}(id=${tehtava.id})}" method="POST">
            <input type="number" name="vastaus"/>
            <input type="submit"/>
        </form><br/>
        
        <a>Anna palautetta tehtävästä</a><br/>
        <textarea form ="palauteId" name="palauteTeksti" cols="35" wrap="soft"></textarea>
        <form th:action="@{/tehtava/{id}/palaute(id=${tehtava.id})}" method="POST" id="palauteId">
            <input type="submit"/>
        </form>       
    </body>
</html>
